@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); //optional
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');
@import '~react-md/src/scss/react-md'; // Required
$md-light-theme: false;
$md-primary-color: $md-purple-500; //optional colors
$md-secondary-color: $md-blue-a-200; //optional colors
@include react-md-everything; // Required

.page-title{
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    line-height: 1.1;
    color: white
}

.white-bg{
    background-color: ghostwhite;

}

.black-text{
    color: black
}

.white-text{
    color: white
}

.secondary-color-text{
    color: $md-secondary-color
}

.title-container{
    padding-top: 40px;
    padding-bottom: 20px;
}

.intro-title{
    font-size: 30px
}

.contact{
    font-size: 18px
}

.no-bg{
    background-color: transparent
}
